.new-list-container {
  width: 80%;
}

.list-container {
  width: 220px;
  margin: 20px;
}

.list-card-body {
  width: 100%;
  text-align: center;
  font-weight: 400;
}

.list-card-item {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.list-card-item svg {
  margin-right: 10px;
}

.list-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bolder;
  color: #757575;
}

.title {
  font-size: 22px;
  font-weight: 400px;
  text-align: center;
}
